@import '../styles//colors.css';

@media only screen {
    .docs-wr {
        display: none;
    }

    .mobile-text {
        margin-top: 50px;
        display: flex;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        justify-content: center;
        font-weight: 500;
        font-size: 18px;
        align-items: center;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .mobile-text {
        display: none;
    }

    .docs-wr {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-x: hidden;
        background-color: var(--ig-white);
        overflow-y: scroll;
        display: block;
    }

    .docs {
        margin-top: 60px;
    }

    .d-title {
        color: var(--black);
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

    }

    .d-search {
        width: 900px;
        margin-top: 50px;
        background-color: var(--faded-grey);
        border-radius: 6px;
    }

    .d-s-items {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        gap: 10px;
    }

    .search-icon {
        stroke: var(--black-faded);
        height: 20px;
    }

    .docs-icon {
        stroke: var(--black);
        height: 32px;
    }

    .gen-icon {
        fill: var(--white);
        height: 20px;
    }

    .d-input {
        background-color: transparent;
        text-align: start;
        outline: none;
        border: none;
        width: 95%;
    }

    .my-docs {
        margin-top: 30px;
        width: 900px;
    }

    .d-item {
        border-radius: 6px;
        padding: 15px;
        background-color: var(--faded-grey);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .d-client {
        text-align: start;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        color: var(--black);
    }

    .d-date {
        color: var(--black-faded);
        font-size: 14px;
        font-weight: normal;
    }

    .d-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }

    .gen-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }

    .gen {
        border-radius: 4px;
        color: var(--white);
        font-size: 16px;
        background-color: var(--black);
        padding: 8px 20px;
        cursor: pointer;
        border: 2px solid var(--black);
        transition: 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .d-gen {
        border-radius: 4px;
        border: 2px solid var(--black);
        color: var(--black);
        font-size: 16px;
        padding: 6px 20px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }

    .d-gen:hover {
        background-color: var(--black);
        color: var(--white);
    }
}

@media only screen and (min-width: 64.063em) {
    .mobile-text {
        display: none;
    }

    .docs-wr {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-x: hidden;
        background-color: var(--ig-white);
        overflow-y: scroll;
        display: block;
    }

    .docs {
        margin-top: 60px;
    }

    .d-title {
        color: var(--black);
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

    }

    .d-search {
        width: 900px;
        margin-top: 50px;
        background-color: var(--faded-grey);
        border-radius: 6px;
    }

    .d-s-items {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        gap: 10px;
    }

    .search-icon {
        stroke: var(--black-faded);
        height: 20px;
    }

    .docs-icon {
        stroke: var(--black);
        height: 32px;
    }

    .gen-icon {
        fill: var(--white);
        height: 20px;
    }

    .d-input {
        background-color: transparent;
        text-align: start;
        outline: none;
        border: none;
        width: 95%;
    }

    .my-docs {
        margin-top: 30px;
        width: 900px;
    }

    .d-item {
        border-radius: 6px;
        padding: 15px;
        background-color: var(--faded-grey);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .d-client {
        text-align: start;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        color: var(--black);
    }

    .d-date {
        color: var(--black-faded);
        font-size: 14px;
        font-weight: normal;
    }

    .d-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }

    .gen-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }

    .gen {
        border-radius: 4px;
        color: var(--white);
        font-size: 16px;
        background-color: var(--black);
        padding: 8px 20px;
        cursor: pointer;
        border: 2px solid var(--black);
        transition: 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .d-gen {
        border-radius: 4px;
        border: 2px solid var(--black);
        color: var(--black);
        font-size: 16px;
        padding: 6px 20px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }

    .d-gen:hover {
        background-color: var(--black);
        color: var(--white);
    }
}